.container {
  font-family: "Open Sans", sans-serif;
  border-radius: 25px;
  max-width: 850px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
  /*background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );*/
}
h1,
h2,
h3 {
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 25px;
  padding-top: 10px;
}

h2 {
  font-size: 25px;
}

.current-date {
  position: relative;
  padding-left: 10px;
}

/*To the person reviewing my homework. I couldn’t get the input text field to align with the search bar.
I tried and tried and I had no time to ask for help on slack, so I have to send it like this. :( */

input {
  margin: 0 auto;
  border-width: 1.5px;
  border-radius: 120px;
  border-style: solid;
  padding: 5px 56px;
  max-width: 350px;
  font-size: 15px;
  background: none;
  text-align: center;
  /* text-align: center;
  display: block;
  padding: 0px 100px;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 120px;
  margin: 0 auto;*/
}

.current-location,
.weather-type {
  font-style: italic;
}

.fa-cloud-showers-heavy {
  display: block;
  text-align: center;
  font-size: 30px;
}

.cloud-background {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}
.current-temperature {
  font-size: 50px;
  text-align: center;
  margin-top: -102px;
  color: orange;
}

.forecast {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

#weather-icons {
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  font-size: 25px;
}

.fa-sun:hover,
.fa-cloud-sun:hover {
  color: gold;
}

.fa-cloud:hover,
.fa-cloud-showers-heavy:hover,
.fa-snowflake:hover {
  color: snow;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#credit {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: block;
  position: static;
  margin: 0 auto;
  text-align: center;
}
